<navbar user="$rootScope.currentUser"></navbar>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <textarea ng-model="vm.post.text" class="form-control" rows="3" placeholder="Share new music!"></textarea>
            <div class="post-add">
                <button class="btn btn-success pull-right" ng-click="model.createPost(vm.post)">Post</button>
            </div>
        </div>
    </div>
    <div class="feed">
        <div ng-repeat="post in model.posts | orderBy:'-dateCreated'" class="post">
            <div class="card">
                <div class="card-header">
                    <img src="./images/profile.svg" class="comment-img">
                    &nbsp;<a href="#/profile/{{post._user._id}}">
                    <strong>{{post._user.username}}</strong></a>
                    <div class="dropdown pull-right post-options">
                        <i class="dropdown-toggle material-icons" id="post-options-dropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">more_vert</i>
                        <ul class="dropdown-menu" aria-labelledby="post-options-dropdown">
                            <li><a href="" ng-click="model.deletePost(post._id)">Delete</a></li>
                        </ul>
                    </div>
                    <div class="pull-right post-time">
                        {{model.getDate(post.dateCreated)}}
                    </div>

                </div>
                <div class="card-block">
                    <p class="card-text">{{post.text}}</p>
                    <div class="card-text">
                        <div class="youtubeWidget">
                            <iframe width="560" height="315" ng-src="{{model.getSafeUrl(post.link)}}"
                                    frameborder="0" allowfullscreen></iframe>

                        </div>

                        <i ng-if="post.likes.indexOf(curretUser._id) >=0" ng-click="model.like(post._id,false)"
                           class="material-icons post-fav">favorite</i>
                        <i ng-if="post.likes.indexOf(curretUser._id) == -1" ng-click="model.like(post._id,true)"
                           class="material-icons post-fav">favorite_border</i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row comment-input">
                        <input type="text" class="form-control col-md-12" placeholder="Comment">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>