<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" back=""> <i class="material-icons pull-left top-left">arrow_back</i></a>
            <a class="navbar-brand" href="">Profile</a>
            <a href="" ng-click="model.logout()" class="top-right nav-link">SIGN OUT</a>
        </div>
    </div>
</nav>
<div class="container">
    <msg data="model.msg"></msg>

    <form class="sign-in">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="IronMan"
                   autofocus required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="model.user.email" class="form-control" id="email"
                   placeholder="tony@stark.com " required>
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="firstname" ng-model="model.user.firstName" class="form-control" id="firstname"
                   placeholder="Tony" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="lastname" ng-model="model.user.lastName" class="form-control" id="lastname" placeholder="Stark"
                   required>
        </div>

        <a href="" ng-click="model.updateUser()" class="btn btn-success btn-block">Save</a>
    </form>
</div> <!-- /container -->

