<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="">Musix

            </a>
            <div class="top-right-wrapper">
                <profile></profile>

                <a href="#/playlist">
                    <i class="material-icons profile top-right">library_music</i></a>
                <a href="#/">
                    <i class="material-icons profile top-right">home</i></a>
            </div>

        </div>
    </div>
</nav>