<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Viddy

            </a>
            <div class="top-right-wrapper">
                <profile id="user._id"></profile>

                <a href="#/search" title="Explore">
                    <i class="material-icons profile top-right">explore</i></a>
                <a href="#/" title="Home">
                    <i class="material-icons profile top-right">home</i></a>
                <a ng-show="user.admin" href="#/admin" title="Admin Page">
                    <i class="material-icons profile top-right">supervisor_account</i>
                </a>
            </div>

        </div>
    </div>
</nav>