
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website"> <i class="material-icons pull-left top-left">arrow_back</i></a>
            <a class="navbar-brand" href="">New Website</a>
            <div class="top-right-wrapper">
                <profile></profile>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <msg data="model.msg"></msg>
    <form>
        <div class="form-group" ng-class="{ 'has-error' : model.msg.type === 'error'}">
            <label class="name" for="name">Name</label>
            <input type="text" ng-model="name" class="form-control" id="name" placeholder="Name" required autofocus/>
            <div ng-show="model.msg.type === 'error'">
                <div class="help-block">Please enter the website name</div>
            </div>
        </div>
        <div class="form-group">
            <label class="name" for="description">Description</label>
            <textarea class="form-control" ng-model="description" id="description" rows="3" placeholder="Description" required></textarea>
        </div>

    </form>

</div> <!-- /container -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a href="" ng-click="model.createWebsite(name,description)" class="pull-right top-right">SAVE</a>
    </div>
</nav>
