/**
        * Hide when Angular is not yet loaded and initialized
        */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 70px;
    background-color: #f8f8f8;
}

/*Styles for PACE progress bar*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.sign-in {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.center-block {
    display: block;
    text-align: center;
}

.top-right {
    margin-right: 15px;
    margin-top: 15px;
    font-size: 15px;
    /*font-weight: bold;*/
    float: right;
    right: 0;
}

.top-right-wrapper {
    margin-right: -30px;
}

@media (min-width: 768px) {

    .top-right-wrapper {
        margin-right: -20px;
    }
}

.navbar-header {
    width: 100%;
}


a.top-right {
    text-decoration: none;
}

.top-left {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 22px;
    color: gray;
}

.profile {
    font-size: 25px;
    color: gray;
}

.profile-img {
    font-size: 80px;
    color: lightgray;
}



.navbar-header {
    width: 100%;
}

.profile-head {
    width: 600px;
}

/*Profile view*/

.profile-img {
    display: block;
    height: 110px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}

.profile-text {
    margin-top: -3.5em;
    padding: 4em 1.5em 1.5em 1.5em;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

.profile-name {
    margin-right: -1em;
    margin-bottom: .75em;
    margin-left: -1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
}

.profile-title {
    color: #ccc;
}

.profile-options {
    margin-top: -48px;
}

#profile-options-dropdown {
    cursor: pointer;
}

.profile-follow {
    margin-top: -40px;
    margin-right: 10px;
}
.comment-input {
    padding: 0 10px 0 10px;
}

.comment-img {
    border-radius: 50%;
    display: inline-block;
    height: 36px;
    width: 36px;
}

.post-fav {
    padding-top: 10px;
    cursor: pointer;
    color: lightgray;
}

.post-fav:hover {
    color: #e64a19;
}

.post-fav-true {
    color: #e64a19;
    padding-top: 10px;
    cursor: pointer;
}

.post {
    padding: 10px 0 10px 0;
}

.post-new {
    width: 600px;
    margin: auto;
}
.post-time {
    color: #c7c7c7;
}

.post-options {
    cursor: pointer;
    margin-right: -10px;
}
.feed {
    width: 600px;
    margin: auto;
}



.youtubeWidget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtubeWidget > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.comment-user {
    font-weight: bold;
}

.comment-list {
    margin-left: -40px;
    margin-bottom: -20px;
    list-style: none;
}

.comment-post {
    color: #2196f3;
    margin-top: -10px;
}
/*Youtube player styles*/

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.post-add {
    padding-top: 20px;
}

.ytResults {
    padding-top: 10px;
}

/*Login Buttons*/
.gBtn {
    padding-top: 10px;
    margin-left: -5px;
    width: 311px;
}

.userResults {
    padding-top: 10px;
    margin: auto;
}

.searchContainer {
    width: 600px;
}

@media screen and (max-width: 600px) {
    .profile-head {
        width: 100%;
    }

    .feed {
        width: 100%;
    }

    .post-new {
        width: 100%;
    }

    .searchContainer {
        width: 100%;
    }

}