<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website"> <i class="material-icons pull-left top-left">arrow_back</i></a>
            <a class="navbar-brand" href="#">Edit Page</a>
            <a href="#/profile/{{model.userId}}"><i class="material-icons profile pull-right">account_circle</i></span></a>
            <a href="" ng-click="model.deletePage(model.page._id)"><i class="material-icons profile pull-right">delete</i></span></a>

        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="model.page.name" class="form-control" id="name" value="{{model.page.name}}" required autofocus>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" ng-model="model.page.title" class="form-control" id="title" value="{{model.page.title}}" required>
        </div>

    </form>

</div> <!-- /container -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a href="" ng-click="model.updatePage()" class="pull-right top-right">SAVE</a>
    </div>
</nav>
