<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Web Builder</a>
        </div>

    </div>
</nav>
<div class="container">
    <msg data="model.msg"></msg>
</div>
    <form class="sign-in">
        <h3>Sign In</h3>
        <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input ng-model="username" type="text" class="form-control" id="username" placeholder="Username" required autofocus />
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password" required>
        </div>

        <a ng-click="model.login(username,password)" class="btn btn-primary btn-block">Sign In</button></a>
        <p class="center-block help-block">New User? <a href="#/register" >Register</a> </p>
    </form>

</div> <!-- /container -->
