<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Profile</a>
            <a href="#/login" class="pull-right top-right">SIGN OUT</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="profile-container">
        .<div ng-show="model.msg" class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        	{{model.msg}}
        </div>
        <i class="material-icons profile-img center-block">account_circle</i>
    </div>
    <form class="sign-in">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="model.user.username"class="form-control" id="username" value="IronMan" autofocus required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="model.user.email" class="form-control" id="email" value="tony@stark.com " required>
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="firstname" ng-model="model.user.firstName" class="form-control" id="firstname" value="Tony" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="lastname" ng-model="model.user.lastName" class="form-control" id="lastname" value="Stark" required>
        </div>

        <!--<button type="submit" class="btn btn-success btn-block">Save</button>-->
        <a href="../website/website-list.html" class="btn btn-primary btn-block">Websites</a>
    </form>
</div> <!-- /container -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a ng-click="model.updateUser(model.user)" class="pull-right top-right">SAVE</a>
    </div>
</nav>
