<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Web Builder</a>
        </div>
    </div>
</nav>
<div class="container">


    <div ng-show="model.msg" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{model.msg}}
</div>
    <div ng-show="model.errorMsg" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{model.errorMsg}}

</div>
    <form name="form" class="sign-in" ng-submit="model.register(model.user,form)"novalidate>
        <h3>Register</h3>
        <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input ng-model="model.user.username"type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus />
            <div class="text-danger" ng-show="form.$submitted || form.username.$touched">
                <p ng-show="form.username.$error.required">
                    <span>Username is required</span>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input ng-model="model.user.password" type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            <div class="text-danger" ng-show="form.$submitted || form.password.$touched">
                <p ng-show="form.password.$error.required">
                    <span>Password is required</span>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="confirmPassword">Confirm Password</label>
            <input ng-model="model.user.confirmPassword" type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
            <div class="text-danger" ng-show="form.$submitted || form.confirmPassword.$touched">
                <p ng-show="form.confirmPassword.$error.required">
                    <span>Confirm the password</span>
            </div>


        </div>


        <button class="btn btn-success btn-block"
                type="submit">
            Register</button>
        <a href="#/login" class="btn btn-default btn-block">Cancel</button></a>
        <p class="center-block help-block">Have an account? <a href="#/login" >Sign In</a> </p>
    </form>

    <!--<form name="registrationForm" novalidate-->
          <!--ng-submit="model.register(model.user,registrationForm.$valid)">-->
        <!--<div class="form-group">-->
            <!--<label>User Name</label>-->
            <!--<input type="text" name="username" class="form-control" ng-model="model.user.username" required />-->
            <!--<div ng-messages="registrationForm.username.$error" ng-messages-include="messages.html"></div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Password</label>-->
            <!--<input type="password" name="password" class="form-control" ng-model="model.user.password" required />-->
            <!--<div ng-messages="registrationForm.password.$error" ng-messages-include="messages.html"></div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Confirm Password</label>-->
            <!--<input type="password" name="confirmPassword" class="form-control"-->
                   <!--ng-model="model.user.confirmPassword"-->
                   <!--required compare-to="model.user.password" />-->
            <!--<div ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="messages.html"></div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<button type="submit" class="btn btn-primary">Register!</button>-->
        <!--</div>-->
    <!--</form>-->

</div> <!-- /container -->
