<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"> <i class="material-icons pull-left top-left">arrow_back</i></a>
            <a class="navbar-brand" href="#">{{model.widget.type.toLowerCase()}}</a>
            <a href="#/profile/{{model.userId}}"><i class="material-icons profile top-right">account_circle</i></span></a>
            <a href="" ng-click="model.deleteWidget()"><i class="material-icons profile top-right">delete</i></span></a>

        </div>
    </div>
</nav>
<div ng-switch="model.widget.type">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/widget-header.view.client.html'" onload="widget=model.widget">
    </div>
    <div ng-switch-when="IMAGE" >
        <ng-include src="'views/widget/widget-image.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE" >
        <ng-include src="'views/widget/widget-youtube.view.client.html'">
    </div>
    <div ng-switch-when="TEXT">
        <ng-include src="'views/widget/widget-text.view.client.html'">
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/widget-html.view.client.html'">
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a href="" ng-click="model.updateWidget(model.widget) " class="pull-right top-right">SAVE</a>
    </div>
</nav>
