<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#4285f4">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4285f4">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Widgets</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="../page/page-list.html"> <i class="material-icons pull-left top-left">arrow_back</i></a>
            <a class="navbar-brand" href="#">Widgets</a>
            <a href="../user/profile.view.client.html"><i class="material-icons profile pull-right">account_circle</i></span></a>
            <a href="widget-choose.html"> <i class="material-icons profile pull-right">add</i></a>
        </div>
    </div>
</nav>
<div class="container widget-container">
    <div class="widget">
        <div class="widget-tool">
            <a href="widget-header.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>GIZMODO</h1>
    </div>

    <div class="widget">
        <div class="widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>The World’s Largest Solar Plant Just Torched Itself</h4>
    </div>

    <div class="widget">
        <div class="widget-tool">
            <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%" src="https://i.kinja-img.com/gawker-media/image/upload/s--DoCoaUNi--/c_scale,fl_progressive,q_80,w_800/efyzagswpelugzjpbfvl.jpg"/>
    </div>

    <div class="widget">
        <div class="widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p class="first-text">Misaligned mirrors are being blamed for <a href="http://bigstory.ap.org/article/1cd292f7228040228e744fe0ea611b8d/mirrors-blamed-fire-worlds-largest-solar-plant" rel="noopener" target="_blank">a fire that broke out yesterday at the world’s largest solar power plant</a>, leaving the high-tech facility crippled for the time being. It sounds like the plant’s workers suffered through a real hellscape, too.</p>
    </div>

    <div class="widget">
        <div class="widget-tool">
            <a href="widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%"  src="https://www.youtube.com/embed/xGaCFtXzL3U" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="widget">
        <div class="widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>Putting out the blaze was not easy task, either. Firefighters were forced to climb 300 feet up a boiler tower to get to the scene. Officials said the fire was located about two-thirds up the tower. Workers at the plant actually managed to subdue the flames by the time firefighters reached the spot, and it was officially extinguished about 20 minutes after it started. </p>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <i class="material-icons top-left">play_circle_filled</i>
        <i class="material-icons top-left">remove_red_eye</i>

        <!--<a href="website-list.html" class="pull-right top-right">SAVE</a>-->
        <!--<a href="page-list.html" class="pull-right top-right text-danger">DELETE</a>-->

    </div>
</nav>
</body>
</html>