<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"> <i
                    class="material-icons pull-left top-left">arrow_back</i></a>
            <a class="navbar-brand" href="">Widgets</a>
            <a href="#/profile/{{model.userId}}"><i class="material-icons profile top-right">account_circle</i></span>
            </a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> <i
                    class="material-icons profile top-right">add</i></a>
        </div>
    </div>
</nav>
<div class="container" ng-hide="model.widgets.length">
    <div class="alert alert-info center-block">
        <strong>You have no widgets,add a new widget to get started.</strong>
    </div>
</div>
<div class="container widget-container" draggable sortable callback="model.updateOrder(start,end)">

    <div ng-repeat="widget in model.widgets" class="widget">
        <div class="widget-tool">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.type">
            <div ng-switch-when="HEADING" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>

            <div ng-switch-when="IMAGE">
                <img width="{{widget.width}}%" ng-src="{{widget.url}}"/>
            </div>
            <div ng-switch-when="HTML">
                <div ng-bind-html="model.getSafeHtml(widget)"></div>
            </div>
            <div ng-switch-when="YOUTUBE">
                <iframe width="{{widget.width}}%" ng-src="{{model.getSafeUrl(widget)}}" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <div ng-switch-when="TEXT">
                <div ng-if="widget.formatted" text-angular ta-toolbar="WIDGET.TA_TOOLBAR"></div>
                <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                       placeholder="{{widget.placeholder}}" class="form-control"/>
                    <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                              rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                              class="form-control">{{widget.text}}</textarea>
            </div>
            <div ng-switch-default>
                Unable to render widget
            </div>
        </div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <i class="material-icons top-left">play_circle_filled</i>
        <i class="material-icons top-left">remove_red_eye</i>
    </div>
</nav>
