<div class="container">
    <div>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="$parent.model.widget.name" type="text" class="form-control" id="name"  value="{{$parent.model.widget.name}}" required autofocus />
        </div>
        <div class="form-group">
            <label for="htext">Text</label>
            <input ng-model="$parent.model.widget.text" type="text" class="form-control" id="htext" value="{{$parent.model.widget.text}}" required>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="$parent.model.widget.url" type="text" class="form-control" id="url" value="{{$parent.model.widget.url}}" required>
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <select ng-model="$parent.model.widget.width" id="width" class="form-control ">
                <!--<option value="" disabled selected>Select your option</option>-->
                <option>25%</option>
                <option>50%</option>
                <option>75%</option>
                <option >100%</option>
            </select>
        </div>
        <div class="form-group">
            <label class="btn btn-default btn-block" for="image">
               <!-- <i class="material-icons">add_a_photo</i>-->
                <span class="center-block">Add Image</span>
                <input type="file" on-file-change="$parent.model.onFileChange" class="hidden" id="image">
            </label>

        </div>
        <!--<form action="/api/uploads" method="post" enctype="multipart/form-data">-->
        <!--<input  name="myFile"   type="file" class="form-control"/>-->
        <!--<input  name="userId"    value="{{$parent.model.userId}}" style="display: none"/>-->
        <!--<input  name="websiteId"    value="{{$parent.model.websiteId}}" style="display: none"/>-->
        <!--<input  name="widgetId"  value="{{$parent.model.widget._id}}"   style="display: none"/>-->
        <!--<button type="submit"   class="btn btn-block btn-primary">Upload Image</button>-->
        <!--</form>-->

    </div>

</div> <!-- /container -->
