<div class="container">
    <msg data="$parent.model.msg"></msg>
    <form>
        <div class="form-group" ng-class="{ 'has-error' : $parent.model.msg.type === 'error'}">
            <label for="name">Name</label>
            <input ng-model="$parent.model.widget.name" type="text" class="form-control" id="name"  value="{{$parent.model.widget.name}}" required autofocus />
            <div ng-show="$parent.model.msg.type === 'error'">
                <div class="help-block">Please enter the widget name</div>
            </div>
        </div>
        <div class="form-group">
            <label for="htext">Text</label>
            <input ng-model="$parent.model.widget.text" type="text" class="form-control" id="htext" value="{{$parent.model.widget.text}}" required>
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <select ng-model="$parent.model.widget.size" id="size" class="form-control" to-number>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>

    </form>

</div>
